{% extends 'base.html' %}

{% block head %}
<title>
    all appointments 
</title>

{% endblock head %}
{% block body %}
{% include 'navbar.html' %}
<div class="container">
    <table class = 'table'>
        <thead>
            <tr>
                <th scope = 'col'>
                    id
                </th>
                <th scope = 'col'>
                    patient's name
                </th>
                <th scope = 'col'>
                    doctor's name
                </th>
                <th scope = 'col'>
                    appointment date and time
                </th>
                <th scope = 'col'>
                    status
                </th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>
                    {{ appointment.id }}
                </td>
                <td>
                    <a href = {% url 'patient_detail' appointment.patient.id %}>

                        {{ appointment.patient.name }}
                    </a>
                </td>
                <td>
                    {{ appointment.doctor }}
                </td>
                <td>
                    {{ appointment.date }} {{ appointment.time }}
                </td>
                <td>
                    {% if appointment.done %}
                    <input checked = 'checked' name='test' type='checkbox' style="pointer-events: none;"/>
                    {% else %}
                    <input  type='checkbox' style = 'pointer-events:none;' />
                    {% endif %}
                </td>
            </tr>
            {% endfor %}        

    </table>

</div>

{% endblock body %}