{% extends 'base.html' %}

{% block head %}
<title>
    all appointments 
</title>

{% endblock head %}
{% block body %}
{% include 'navbar.html' %}
<div class="container">
    <table class = 'table'>
        <thead>
            <tr>
                <th scope = 'col'>
                    id
                </th>
                <th scope = 'col'>
                    patient's name
                </th>
                <th scope = 'col'>
                    appointment date and time
                </th>
                <th scope = 'col'>
                    status
                </th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>
                    {{ appointment.id }}
                </td>
                <td>
                    <a href = {% url 'patient_detail' appointment.patient.id %}>

                        {{ appointment.patient.name }}
                    </a>
                </td>
                <td>
                    {{ appointment.date }} {{ appointment.time }}
                </td>
                <td>
                    <form action= {% url 'appointment_change' appointment.pk %} method="post">
                        {% csrf_token %}
                        {% if appointment.done %}
                        <input type="checkbox" class = 'check-box' checked = 'checked'>
                        {% else %}
                        <input class = 'check-box' type="checkbox">
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% endfor %}        

    </table>

</div>

<script>
    const checkbox = document.querySelectorAll('.check-box');
    checkbox.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () { 
                this.parentElement.submit();
        });
    });
</script>

{% endblock body %}