{% extends 'base.html' %}

{% block head %}
<title>
    doctor dashboard

</title>
{% endblock head %}

{% block body %}
{% include 'navbar.html' %}
<div class="container">
    <table class='table'>
        <thead>
            <tr>
                <th scope="col">
                    Patient
                </th>
                <th scope='time'>
                    Date and Time
                </th>
                <th scope='status'>
                    Status
                </th>
            </tr>

        </thead>
        <tbody>
            {% for appointment in appointments %}
            <tr>
                <td>
                    <a href={% url 'patient_detail' appointment.patient.id %}>

                        {{ appointment.patient.name }}
                    </a>
                </td>
                <td>
                    {{ appointment.date }}
                </td>
                <td>
                    <form action={% url 'appointment_change' appointment.pk %} method="post">
                        {% csrf_token %}
                        <input type='checkbox' class='check-box'>
                    </form>
                </td>
                {% endfor %}
        </tbody>

    </table>

</div>

<script>
    const checkbox = document.querySelectorAll('.check-box');
    checkbox.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            this.parentElement.submit();
        });
    });
</script>

{% endblock body %}