{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>
  Doctoring
</title>
{% endblock %}
{% block body %}
<div class="container">

  <h1>
    Request for an Appointment
    <a href={% url 'login' %} class='btn btn-danger'>
      login
    </a>

    <a href={% url 'signup' %} class='btn btn-danger'>
      signup
    </a>
  </h1>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <form action="{% url 'create_patient' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-primary" value="submit">
  </form>

</div>
<script src={% static '/scripts/validate.js' %}>
</script>
{% endblock %}