{% extends 'base.html' %}
{% block head %}
<title>
  Doctoring
</title>
{% endblock %}
{% block body %}
<div class="container">

  <h1>
    Create an Appointment
  </h1>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <form action="{% url 'patient' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-primary" value="submit">
  </form>

</div>
{% endblock %}